@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-primary {
    font-family: "DM Sans", sans-serif;
  }

  .font-secondary {
    font-family: "Rubik", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  @apply font-secondary;
}

h2 {
  @apply tracking-[-0.03em];
}

p {
  @apply font-primary;
}

.careers-image > span,
.careers-image > span > img,
.blog-image > span,
.blog-image > span > img {
  @apply w-full h-full !important;
}
