@tailwind base;
@tailwind components;

#meta-word {
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

html,
body,
#__next {
  height: 100vh;
  width: auto;
}
html,
body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: 'Futura Md BT';
  color: #fff;
}

@tailwind utilities;
section {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.swiper-slide {
  width: 80%;
}

.input-wrapper {
  position: relative;
  line-height: 14px;
  display: inline-block;
}

.input-wrapper label {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 12px;
  padding: 0 2px;
  pointer-events: none;
  background: black;
  transition: transform 100ms ease;
  transform: translateY(-18px);
}

.input-wrapper input {
  background-color: black;
  font-size: 13px;
  color: #555;
  outline: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
}

.input-wrapper input[value=''] + label {
  transform: translateY(0);
}

.input-wrapper input:focus {
  border-color: #fff;
  border-radius: 20px;
}

.input-wrapper input:focus + label {
  color: #fff;
  transform: translateY(-18px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper.invalid input,
.input-wrapper.invalid input:focus {
  border-color: #ae2727;
}

.input-wrapper.invalid input:focus + label,
.input-wrapper.invalid input + label {
  color: #ae2727;
}

input[type='number'] {
  -moz-appearance: textfield;
}
